*{
  margin:0px;
  padding:0px;
  user-select: none;          
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;   
  -webkit-user-drag: none;  
  -khtml-user-drag: none;   
  -moz-user-drag: none;     
  -o-user-drag: none;          
}
h2,p{
  font-family: 'Glitch Goblin'; font-weight: normal; font-style: normal;
}
body{
  height:100vh;
  background: radial-gradient(rgb(208, 217, 218),rgb(149, 152, 155));
}
.bbcontainer{
  height:60vh;
  width: 30vw;
  position:absolute;
  top:50vh;
  left: 60vw;
  transform:translate(-50%,-50%);
  perspective:1000px;
}
.typewriter{
  display:flex;
  justify-content:center;
}
.typewriter h2{
  font-family:'Glitch Goblin';
  font-size: 1.5rem;
  margin-inline:auto;
  overflow:hidden;
  white-space:nowrap;
  border-right:1px solid;
  animation:typing 3s steps(16) forwards,
  blink 1s step-end infinite;
}
.typewriter p{
  font-family:'Glitch Goblin';
  font-size: 1.5rem;
  margin-inline:auto;
  overflow:hidden;
  white-space:nowrap;
  border-right:1px solid;
  animation:typing 3s steps(33) forwards,
  blink 1s step-end infinite;
}
@keyframes typing{
  from{
    width:0;
  }
  to {
    width:100%;
  }
}
@keyframes blink{
  50%{
    border-color:transparent;
  }
}
.bbbox{
  height:250px;
  width:250px;
  position:absolute;
  top:100px;
  left:100px;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  transform: rotateY(20deg);
}
iframe{
  width:100%;
  height:100%;
  overflow:hidden;
}
img{
  width:100%;
  height:100%;
}
.card{
  height:250px;
  width: 250px;
  background:white;
  border:2px solid black;
  box-sizing:border-box;
  position:absolute;
}
.card:hover{
  cursor: pointer;
}

#front{
  transform:translateZ(125px);
}
#back{
  transform: rotateY(180deg) translateZ(125px);
}
#left{
  right: 125px;
  transform: rotateY(-90deg);
}
#right{
  left: 125px;
  transform: rotateY(90deg);
}
#top{
  bottom:125px;
  transform: rotateX(90deg);
}
#bottom{
  top:125px;
  transform:rotateX(-90deg)
}
iframe.preview {
  pointer-events: none;
  overflow:hidden;
}
.iframe-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;         
}

.iframe-wrapper iframe {
  width: 330%;               
  height: 480%;
  transform: scale(0.3,0.2);     
  transform-origin: top left;
  border: none;
  overflow:hidden;
}

.section {
  height: 10%;              
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: white;
  margin-right:80%;
}
#sec1 { background: #111; }
#sec2 { background: #333; }
#sec3 { background: #555; }
#sec4 { background: #777; }
#sec5 { background: #999; }
#sec6 { background: #bbb; }
