*{
  margin:0px;
  padding:0px;
  user-select: none;          
  -webkit-user-select: none;  
  -moz-user-select: none;     
  -ms-user-select: none;   
  -webkit-user-drag: none;  
  -khtml-user-drag: none;   
  -moz-user-drag: none;     
  -o-user-drag: none;          
}
h2,p{
  font-family: 'Glitch Goblin'; font-weight: normal; font-style: normal;
}
body{
  height:100vh;
  background:radial-gradient(at bottom, hsl(0, 3%, 7%), hsl(0, 0%, 0%));

}
#particles {
  position: fixed;
  inset: 0;             /* top:0; right:0; bottom:0; left:0 */
  z-index: 0;           /* send behind your content */
  pointer-events: none; /* don't block clicks */
}
.bbcontainer, .typewriter, .section {
  position: relative;    /* needed for z-index to apply */
  z-index: 1;
}
.bbcontainer{
  height:60vh;
  width: 30vw;
  position:absolute;
  top:50vh;
  left: 60vw;
  transform:translate(-50%,-50%);
  perspective:1000px;
}
.typewriter{
  display:flex;
  justify-content:center;
  flex-direction: column;
  position:absolute;
  top:24vh;
  left:20vw;
}
.typewriter h2{
  font-family:'Glitch Goblin';
  font-size: 2rem;
  font-weight: 900;
  color:white;
  overflow:hidden;
  white-space:nowrap;
  width:20px;
  border-right:4px solid;
  animation:typinghead 3s steps(16) forwards,
  blink 1s step-end infinite,fadeOut 5s forwards;
  animation-delay: 0s, 0s, 5s;
}
.typewriter p{
  font-family:'Glitch Goblin';
  font-size: 1.5rem;
  font-weight: 400;
  margin-inline:auto;
  color:white;
  overflow:hidden;
  white-space:nowrap;
  border-right:2px solid;
  animation:typing 3s steps(33) forwards,
  blink 1s step-end infinite,fadeOut 5s forwards;
  animation-delay: 0s, 0s, 5s;
  margin-top:30px;
}
@keyframes typinghead{
  from{
    width:0;
  }
  to {
    width:69%;
  }
}
@keyframes typing{
  from{
    width:0;
  }
  to {
    width:100%;
  }
}
@keyframes blink{
  50%{
    border-color:transparent;
  }
}

@keyframes fadeOut {
  to { border:transparent; }
}
.bbbox{
  height:250px;
  width:250px;
  position:absolute;
  top:100px;
  left:100px;
  transform-style: preserve-3d;
  transition: transform 1s ease-in-out;
  transform: rotateY(20deg);
}
iframe{
  width:100%;
  height:100%;
  overflow:hidden;
}
img{
  width:100%;
  height:100%;
}
.card{
  height:250px;
  width: 250px;
  background:white;
  border:2px solid black;
  box-sizing:border-box;
  position:absolute;
}
.card:hover{
  cursor: pointer;
}

#front{
  transform:translateZ(125px);
}
#back{
  transform: rotateY(180deg) translateZ(125px);
}
#left{
  right: 125px;
  transform: rotateY(-90deg);
}
#right{
  left: 125px;
  transform: rotateY(90deg);
}
#top{
  bottom:125px;
  transform: rotateX(90deg);
}
#bottom{
  top:125px;
  transform:rotateX(-90deg)
}
iframe.preview {
  pointer-events: none;
  overflow:hidden;
}
.iframe-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;         
}

.iframe-wrapper iframe {
  width: 330%;               
  height: 480%;
  transform: scale(0.3,0.2);     
  transform-origin: top left;
  border: none;
  overflow:hidden;
}

.section {
  height: 10%;              
  display: flex;
  font-size: 3rem;
  color: white;
}
#sec1 { background: #111; }
#sec2 { background: #333; }
#sec3 { background: #555; }
#sec4 { background: #777; }
#sec5 { background: #999; }
#sec6 { background: #bbb; }
